// Variables
$font-family: "Montserrat", sans-serif;
$color-yellow: #ffe600;
$color-dark: #333;
$color-grey-dark: #666;
$color-grey-middle: #999;
$color-grey-light: #eee;
$color-blue: #3483fa;
$width-xl: 1200px;

// Globals
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-family;
  font-size: 100%;
}

body {
  background-color: $color-grey-light;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  font-family: $font-family;
  cursor: pointer;
}

.container {
  max-width: $width-xl;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.img-responsive {
  max-width: 100%;
}
