.grid-detail {
  padding: 32px;
  display: grid;
  gap: 32px;

  @media (min-width: $breakpoint-small) {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-detail-container-image {
    @media (min-width: $breakpoint-small) {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  .grid-detail-sidebar {
    @media (min-width: $breakpoint-small) {
      grid-column-start: 3;
    }

    .grid-detail-sidebar-info {
      display: block;
      font-size: 14px;
      margin-bottom: 16px;
      color: $color-dark;
      font-weight: 500;
    }

    .grid-detail-sidebar-title {
      font-size: 24px;
      color: $color-dark;
    }

    .grid-detail-sidebar-price {
      margin: 32px 0;
      color: $color-dark;
      font-size: 46px;
      font-weight: 400;

      .grid-detail-sidebar-price-decimal {
        font-size: 20px;
      }

      .grid-detail-sidebar-shipping {
        position: relative;
        top: -12px;
        width: 20px;
        margin-left: 10px;
      }
    }
  }

  .grid-detail-description {
    @media (min-width: $breakpoint-small) {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    .grid-detail-description-title {
      font-size: 28px;
      font-weight: 400;
      margin-bottom: 32px;
      color: $color-dark;
    }

    .grid-detail-description-paragraph {
      color: $color-grey-middle;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5rem;
    }
  }
}
